{% extends 'panel/template.html' %}
{% load static %}
{% block head %}
    <title>Confirm</title>
{% endblock head %}
{% block content %}
    <div class="container" style="width:40%; align-content:center;flex-wrap:wrap;">
        <div class="card shadow-lg o-hidden border-0 my-5" style="border-radius: 16px;">
            <div class="card-body">
                <div class="text-center">
                    <h4 class="text-dark mb-4" style="font-weight: bold;font-size: 32px;margin-top:20px;">Password Confirmation</h4>
                    <h3 class="text-dark mb-4" style="font-weight: bold;font-size: 15px;">Please create a password phrase for security purpose</h3>
                    <form class="user" method="post">
                        {% csrf_token %}
                        <div class="form-group"><input class="form-control form-control-user" type="password" id="id_new_password1" placeholder="Enter New Password" name="new_password1"></div>
                        <div class="form-group"><input class="form-control form-control-user" type="password" id="id_new_password2" placeholder="Confirm New Password" name="new_password2"></div><br>
                        <center><button class="btn btn-primary btn-block text-white btn-user" style="width:100%;" type="submit">Submit</button></center>
                        <br> {% if message %}
                        <p style="color: red;">{{message}}</p>
                        {% endif %}
                        <!-- <hr> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
