{% extends 'panel/template.html' %}
{% load static %}
{% block head %}
    <title>Done</title>
{% endblock head %}
{% block content %}
    <div class="container" style="width:40%; align-content:center;flex-wrap:wrap;">
        <div class="card shadow-lg o-hidden border-0 my-5" style="border-radius: 16px;">
            <div class="card-body">
                <div class="text-center">
                    <h4 class="text-dark mb-4" style="font-weight: bold;font-size: 29px;">Password Reset Complete</h4>
                    <h3 class="text-dark mb-4" style="font-weight: bold;font-size: 15px;">You can login with your new credentials now.</h3>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}