{% extends 'panel/template.html' %}
{% load static %}
{% block head %}
<title>Student Profile</title>
<link rel="stylesheet" href="{% static 'css/Login-Form-Clean.css' %}">
{% endblock %}

{% block sidebar %}
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'books' %}"><i class="fa fa-book"></i><span>Books</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'bookings' %}"><i class="fa fa-dollar"></i><span>Bookings</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'view_profile' %}"><i class="fa fa-book"></i><span>Profile</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'wallet_view' %}"><i class="fa fa-book"></i><span>Wallet</span></a></li>
                </ul>
{% endblock %}


{% block content %}
                <div class="container-fluid">
                    <h3 class="text-dark mb-1" style="font-weight: bold;color: var(--bs-gray);margin-top: 20PX;">STUDENT PROFILE</h3>
                </div><!-- Start: Login Form Clean -->
                <section class="login-clean">
                    <form method="post" style="border-radius: 35px;border: 2px solid var(--bs-red);width: 450px;max-width: 450px;">
                        {% csrf_token %}
                        <h2 class="visually-hidden">Student Form</h2>
                        <div class="illustration"><i class="fa fa-book" style="color: var(--bs-red);"></i></div>
                        <input required class="form-control" type="text" name="fullname" placeholder="Fullname" style="padding: 5px;" value={{fullname}}>
                        <input required class="form-control" type="text" name="roll_number" placeholder="Roll number" style="padding: 5px;margin-top: 10px;" value={{roll_number}}>
                        <input  required class="form-control" type="email" name="email" placeholder="Email address" style="padding: 5px;margin-top: 10px;" value={{email}}>
                        <input required class="form-control" type="password" name="password" placeholder="New Password" style="padding: 5px;margin-top: 10px;">
                        <input required class="form-control" type="password" name="password_cnfrm" placeholder="Confirm new password" style="padding: 5px;margin-top: 10px;">
                        <select required class="form-control" name="academic_year" value={{academic_year}} placeholder="Academic year" style="padding: 5px;margin-top: 10px;">
                            <option>I year</option>
                            <option>II year</option>
                            <option>III year</option>
                            <option>IV year</option>
                        </select>
                        <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit" style="background: var(--bs-red);border-radius: 7px;">UPDATE PROFILE</button></div>
                        {% if error %}
                            <p class="errorbox">{{error}}</p>
                        {% endif %}
                    </form>
                </section><!-- End: Login Form Clean -->

{% endblock %}
